<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>
      
      <main class="container">

        <h1 class="display-3">Edit Wiki</h1>

        <div class="row">

          <div class="col col-lg-7">
            <form action="/wikis/<%= wiki.id %>/update" method="post">

              <div class="form-group">
                <label for="title">Wiki title</label>
                <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
                <small class="text-muted" id="titleHelp">title must be 5 or more characters in length.</small>
              </div>

              <div class="form-group">
                <label for="body">Body</label>
                <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
                <small class="text-muted" id="bodyHelp">body must be 10 or more characters in length.</small>
              </div>

              <% if ( currentUser && ( currentUser.role == 1 ) && (currentUser.id == wiki.userId )) { %> 
              <div class="form-group">
                <span>Set Privacy</span>
                <select class="form-control" name="private" >
                  <option value="true">Make wiki private</option>
                  <option value="false" selected="selected">Make wiki public</option>
                </select>
              </div>
              <% } %>

              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>

          <div class="col col-lg-4">
            <div class="card">
              <% if ( currentUser && ( currentUser.role == 1 ) && (currentUser.id == wiki.userId )) { %> 

                <form action="/wikis/<%= wiki.id %>/collaborator/create" method="post">
                  <div class="card-header"><b class="card-title">Add collaborators</b></div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="collaboratorEmail">Collaborator's Email</label>
                      <input value="<%= wiki.collaboratorEmail %>" type="text" class="form-control" name="collaboratorEmail" aria-describedby="titleHelp" placeholder="Enter Collaborator Email">
                      <small class="text-muted" id="collaboratorEmailHelp">must be a valid and registered email address</small>
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-block"> Add Collaborator</button>
                  </div>
                  
                </form>

              <% } %>

              <% include ../collaborators/allCollaborators.ejs %>

            </div>
          </div>

        </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>