<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>
      
      <main class="container">
        
      <h1><%= wiki.title %></h1>
      
      <% if(currentUser) { %>

        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>

        <% if ( currentUser.role === 1 && wiki.userId === currentUser.id ) { %> 
          <% if ( wiki.private == true ) { %>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/updatePrivate" method="post">
              <button type="submit" class="btn btn-warning">Make wiki public</button>
            </form>
          <% } else { %>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/updatePrivate" method="post">
              <button type="submit" class="btn btn-warning">Make wiki private</button>
            </form>
          <% } %>
        <% } %>

        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        
      <% } %>

      <p><%- wiki.body %></p>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>